{% extends 'base.html.twig' %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger"
                 role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <div class="form-control-static">
            <label for="username">Nom d'utilisateur :</label>
            <input class="form-control" type="text" id="username" name="username" value="{{ last_username }}"/>
        </div>
        <div class="form-control-static">
            <label for="password">Mot de passe :</label>
            <input class="form-control" type="password" id="password" name="password"/>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="btn-create">
            <button class="btn btn-success" type="submit">Se connecter</button>
        </div>
    </form>
{% endblock %}