/*!
 * Start Bootstrap - Shop Homepage (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 150px;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

footer {
    margin: 50px 0;
}

.task-buttons {
    display: flex;
    justify-content: end;
    align-items: end;
    min-height: 30px;
}
