{% extends 'base.html.twig' %}

{% block header_title %}<h1>Modifier <strong>{{ user.username }}</strong></h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <div class="row">
        {{ form_start(form, {'action' : path('user_edit', {'id' : user.id})}) }}
        {{ form_widget(form) }}
        <div CLASS="btn-create">
            <button type="submit" class="btn btn-success pull-right">Modifier</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
